<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/test.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div>


    <nav class="navbar navbar-default" style="background-color: darkgray">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MyDrive</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left">
                        <div th:action="@{/search}" action="#" method="post" class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name="searchBox"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <li ><a href="/profileInfo"class="glyphicon glyphicon-user" data-toggle="modal" data-target="#myModal"></a></li>
                    <li ><a href="/logout"class="glyphicon glyphicon-off"></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <nav class="navbar navbar-default sidebar" role="navigation" style="background-color: darkgray; height: 100%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar-brand">MyDrive</span></a></li>
                    <li><a href="/home.html">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Uploaded Files <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-file"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li><a href="/imageView">Uploaded Images<span class="badge"th:text="${numberImage}"></span></a></li>
                            <li><a href="#">Uploaded Audios<span class="badge"th:text="${numberAudio}"></span></a></li>
                            <li><a href="#">Uploaded Videos<span class="badge"th:text="${numberVideo}"></span></a></li>
                        </ul>
                    </li>
                    <li ><a href="/uploadForm">Upload Files<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                    <li ><a href="/viewMetadata">Metadata of Files<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                    <li ><a href="/editProfile">Edit Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="background: linear-gradient(to bottom right, lightgrey, lightyellow);">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form autocomplete="off" action="#" th:action="@{/saveEditFileChanges}"
                      th:object="${file}"method="post" class="form-horizontal"
                      role="form">
                    <h2>Update Metadata</h2>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <!--<label th:if="${#fields.hasErrors('filename')}" th:errors="*{filename}"-->
                                   <!--class="validation-message"></label>-->
                            <input type="text"  placeholder="Name" class="form-control" name="originalname" readonly  th:value="${filename}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                            class="validation-message"></label>
                            <input type="text"  placeholder="Name" class="form-control" name="name"  th:value="${newfilename}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label	th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
                                      class="validation-message"></label>
                            <input type="text" placeholder="Author" class="form-control" name="author" th:value="${fileauthor}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                        </div>
                    </div>

                    <span th:utext="${successMessage}"></span>


                </form>
            </div>
        </div>
    </div>






    </div>
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div layout:fragment="page_content"></div>
</div>

<!-- /.container -->


</body>

</html>
