<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>Uploaded Files</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/view.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .badge{
            background-color: red;
            margin-left: 30px;
        }
        .dropdown-menu>li>a{
            color: blue;
        }
    </style>
</head>
<body>
<div class="page-logo">
    <a th:href="@{/}">
        <img th:src="@{/images/careydevlogosm.png}" alt="logo" style="margin-top:5px"/>
    </a>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyDrive</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form th:action="@{/search}" action="#" method="post" class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="searchBox"/>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <li data-toggle="tooltip" data-placement="bottom" title="Profile Info"><a href="/profileInfo"class="glyphicon glyphicon-user" data-toggle="modal" data-target="#myModal"></a></li>
                <li  data-toggle="tooltip" data-placement="bottom" title="Logout"><a href="/logout"class="glyphicon glyphicon-off"></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="modal fade" id="myModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


        </div>
    </div>
</div>

<nav class="navbar navbar-inverse sidebar" role="navigation" >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#" class="navbar-brand">MyDrive</span></a></li>
                <li><a href="home.html">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Uploaded Files <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-file"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li class="active"><a href="#" >Uploaded Images<span class="badge" th:text="${numberImage}"></span></a></li>
                        <li><a href="/audioView">Uploaded Audios<span class="badge"th:text="${numberAudio}"></span></a></li>
                        <li><a href="#">Uploaded Videos<span class="badge"th:text="${numberVideo}"></span></a></li>
                    </ul>
                </li>
                <li ><a href="uploadForm">Upload Files<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                <li ><a href="viewMetadata.html">Metadata of Files<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                <li ><a href="/editProfile">Edit Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<ol class="breadcrumb"style="margin-top: -20px;">
    <li ><a href="/home">Home</a></li>
    <li class="active">Images</li>
    <!--<li class="active">Data</li>-->
</ol>
<div style="background: linear-gradient(to bottom right, lightgrey, lightyellow); margin-top: -60px;margin-left: 280px;">
    <!--<div class="js-img"><img src="//placehold.it/500x300" width="50" height="300" alt="" /></div>-->

    <!--<div class="item"style="margin-top: -200px;">-->
        <!--<img src="https://media.giphy.com/media/zB5kxbQPkXOrC/giphy.gif" alt="..." style="width: 100%;height: 200px;opacity: .2;">-->

        <!--<img src="https://media.giphy.com/media/eFdhBeYJb62Wc/giphy.gif" alt="..." style="width: 100%;height: 160px;opacity: .6;margin-top: -1285px;">-->

    <!--</div>-->
    <div class="row" style="margin-top: 50px; margin-left: 0px;margin-right: 0px;">
        <div th:each="file : ${files}">

            <div class="col-xs-2 col-md-2  col-sm-2  col-lg-2" style="margin: 20px 20px 20px 20px;width: min-content;">
                <a th:href="${file[0]}" >
                    <img class="image" th:src="@{'images/'+${#strings.arraySplit(file[0], '/')[1]}+'/raw'}" alt="..." data-toggle="tooltip" data-placement="bottom" th:title="${#strings.arraySplit(file[0], '/')[1]}">
                    <!--<img th:src="@{/images/jpg_image.png}" alt="..." style="height: 100px;width: 100px;">-->
                </a>
<!--<img th:src="@{'images/'+${#strings.arraySplit(file[0], '/')[1]}+'/raw'}">-->
                <!--<br>-->
                <!--<a th:href="${file}" th:text="${file[10]}" ></a><br><br>-->
                <!--<div th:unless="${brickset.imageNames == null}">-->
                <!--<div th:for="image = ${#strings.arraySplit(file, '/')[1]}">-->
                <!--<a href="#" th:href="${file[0]}" th:text="${#strings.arraySplit(file[0], '/')[1]}" data-toggle="tooltip" data-placement="bottom" title="Download">-->
                    <!--&lt;!&ndash;<img src="#" th:src="${imageBaseUrl + image}" height="64" th:remove="${status.index} > 0 ? tag"/>&ndash;&gt;-->
                <!--</a>-->
                <!--&nbsp;-->
                <a href="#" th:href="${file[1]}" class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" title="Edit" >
                    <!--<img src="#" th:src="${imageBaseUrl + image}" height="64" th:remove="${status.index} > 0 ? tag"/>-->
                </a>

                &nbsp;
                <a href="#" th:href="${file[2]}" class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#myModalInfo" >

                </a>
                <script>
                    $('#myModalInfo').on('hidden.bs.modal', function () {
                        location.reload();
                    })
                </script>

                <!--<li th:text="${file[1]}"></li>-->
                &nbsp;
                <a href="#" th:href="${file[3]}" class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete" onclick="return confirm_click();">
                    <!--<img src="#" th:src="${imageBaseUrl + image}" height="64" th:remove="${status.index} > 0 ? tag"/>-->
                </a>
                <script type="text/javascript">
                    function confirm_click()
                    {
                        return confirm("Are you sure ?");
                    }

                </script>
                <br>
            </div>
        </div>
    </div>
</div>

</div>
<!--<div class="content">-->
    <!--<div layout:fragment="page_content"></div>-->
<!--</div>-->

<!-- /.container -->
<footer>
    <div class="copyright">
        <p>&copy 2013 - Organisation</p>
    </div>
    <div class="social">
        <a href="#" class="support">Contact Us</a>
        <a href="#" class="face">f</a>
        <a href="#" class="tweet">t</a>
        <a href="#" class="linked">in</a>
    </div>
</footer>

</body>

</html>
