<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<title>MyTube Media Library</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="page-logo">
	<a th:href="@{/}">
		<img th:src="@{/images/careydevlogosm.png}" alt="logo" style="margin-top:5px"/>
	</a>
</div>
<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand brand_pic" href="#"></a>
			<a class="navbar-brand" href="#">MyDrive</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/">Home </a></li>
				<li ><a href="/registration">Registration</a></li>
				<li class="active"><a href="#">Login<span class="sr-only">(current)</span></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<form  action="#" class="navbar-form navbar-left" th:action="@{/search}" method="post">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search" name="searchBox" />
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
	<!--<form th:action="@{/registration}" method="get">-->
		<!--<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>-->
	<!--</form>	-->
<div style="background-color: #f5f8fb">
	<div class="container">
		<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />
		<form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Welcome"></h3>
			<br/>
			 
			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" id="submit" type="Submit" th:text="Login"></button>
		</form>
	</div>
<div th:if="${authenticatedMessage}">
	<div class="alert">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		<span th:utext="${authenticatedMessage}"></span>
	</div>
</div>
</div>
<footer>
	<div class="copyright">
		<p> Copyright E-Solutions</p>
	</div>
	<div class="social">
		<a href="#" class="support">Contact Us</a>
		<a th:href="@{http://www.facebook.com}"  class="face">f</a>
		<a th:href="@{http://www.twitter.com}"  class="tweet">t</a>
		<a th:href="@{http://www.linkedin.com}" class="linked">in</a>
	</div>
</footer>

</body>
</html>